- hidden ||= nil
- fresh = comment.fresh?(current_user)
.comment{ id: "comment-#{comment.id}", style: hidden ? 'display:none' : 'display:block', class: fresh ? 'fresh' : '' }
  %table
    %tr
      %td
        .avatar
          = image_tag comment.user.avatar.url(:large)
        %td
          .content
            %span.author= comment.user.full_name
            %span.text= format_content(comment.content)
          .actions
            - if current_user == comment.user && comment.updated_at > 5.minutes.ago
              .edit{href: edit_comment_path(comment)}
                %a Edit
              .delete= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure you want to delete your comment?', :remote => true }, :class => 'Comment'
            .timestamp
              = "#{time_ago_in_words(comment.created_at)} ago"