- hidden ||= nil
.comment{ id: "comment-#{comment.id}", style: hidden ? 'display:none' : 'display:block' }
  %table
    %tr
      %td
        .avatar
        %td
          .content
            %span.author= comment.user.user_tag
            %span= comment.content
          .data
            .timestamp
              = "#{time_ago_in_words(comment.created_at)} ago"
            .score
              .flavor= flavor_text(comment)
              .votes{ class: comment.feedback.user != current_user  && current_user.is_peer?(comment.feedback) && comment.user != current_user ? 'active' : nil }
                = vote_numbers(comment, current_user)