.user-settings#general
  %h1 Account
  %h2 Change your basic account settings here

  .edit-user
    = form_for @user.becomes(User), url: { controller: 'users', action: 'update' }, html: { method: :put, multipart: true } do |f|
      %ul
        %li
          .label First Name
          = f.text_field :first_name, autofocus: true
        %li
          .label Last Name
          = f.text_field :last_name
        %li
          .label Email
          = f.email_field :email
        %li
          .label Profile Photo
          = f.file_field :avatar

        - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] do
          %li
            = f.hidden_field attribute, id: attribute

        %li#avatar-handling
          .previewing
            %h4 Preview:
            #preview-container
              = image_tag @user.avatar.url(:large), :id => "current"
              = image_tag @user.avatar.url(:original), :id => "preview"
          .cropping
            %h4 Image:
            #cropbox
              = image_tag @user.avatar.url(:original)
        %li
          .submit-tag.active Save Changes

      %h1 Password Reset
      %h2 Change your password or recover your existing one
      = f.hidden_field :reset_password_token
      %ul
        %li
          .label New Password
          = f.password_field :password
        %li
          .label Verify Password
          = f.password_field :password_confirmation
        %li
          .label
          = link_to 'Forgot your password?', nil, tabindex: -1
        .submit-tag.active Save Changes