.user-settings#notifications
  %h1 Notifications
  %h2 Change your email notification settings

  .edit-user
    = form_for @user, html: { method: :put, multipart: true } do |f|
      = f.hidden_field :first_name
      %ul
        %li.label Send emails for:
        - @user.mailer_settings.each do |setting|
          %li
            = check_box_tag "mailer_settings[#{setting.name}]", 1, setting.active?
            .label= label_tag setting.name, setting.name.capitalize.gsub('_', ' ')

        %li
          .submit-tag.active Save Changes