:javascript
  var image_w, image_h

  $(document).ready(function(){
      image_w = $('#cropbox').find('img').width();
      image_h = $('#cropbox').find('img').height();
      $('#cropbox').Jcrop({
          onChange: update_crop,
          onSelect: update_crop,
          aspectRatio: 1
      });
  });

  function update_crop(coords) {
      var rx = (image_w * 100) / (#{@user.avatar_geometry(:original).width} * coords.w );
      var ry = (image_h * 100) / (#{@user.avatar_geometry(:original).height} * coords.h );
      $('#current').hide();
      $('#preview').show();
      $('#preview').css({
          width: Math.round(rx * #{@user.avatar_geometry(:original).width}) + 'px',
          height: Math.round(ry * #{@user.avatar_geometry(:original).height}) + 'px',
          marginLeft: '-' + Math.round(coords.x * rx * #{@user.avatar_geometry(:original).width} / image_w) + 'px',
          marginTop: '-' + Math.round(coords.y * ry * #{@user.avatar_geometry(:original).height} / image_h) + 'px'
      });

      var ratio = #{@user.avatar_geometry(:original).width} / #{@user.avatar_geometry(:large).width};
      $("#crop_x").val(Math.round(coords.x * ratio));
      $("#crop_y").val(Math.round(coords.y * ratio));
      $("#crop_w").val(Math.round(coords.w * ratio));
      $("#crop_h").val(Math.round(coords.h * ratio));
  }

.column#left

  %ul#settings-menu
    %li.selected.general
      General
      .chevron
    %li.notifications
      Notifications
      .chevron

  .copyright
    Copyright 2016 Prophet
    %ul.links
      %li= link_to 'About', about_path
      %li= link_to 'Help', help_path
      %li= link_to 'Terms', terms_path
      %li= link_to 'Privacy', privacy_path


.column#middle
  = render partial: 'general_settings'
  = render partial: 'notifications'

.column#right
  = render partial: 'users/profile'