.edit-user
  = form_for @user, html: { method: :put, multipart: true } do |f|
    %ul
      %li
        = f.submit "Update"
        = link_to 'Back', root_path
      %br
      %li
        First Name:
        = f.text_field :first_name
      %li
        Last Name:
        = f.text_field :last_name
      %li
        Email:
        = f.email_field :email, autofocus: true
      %li
        = f.file_field :avatar
      %li
        = image_tag @user.avatar.url