.legal_footer
  %ul.business-links
    %li= link_to 'Terms and Conditions', 'terms', method:'get'
    %li= link_to 'Privacy Policy', 'privacy', method:'get'
    %li= link_to 'Data Policy', 'data', method:'get'
    %li= link_to 'Help', 'help', method:'get'
    %li= link_to 'Careers', 'careers', method:'get'