.column#left
  .feedback-summary.filters
    %h2 Filter by Resonance
    %ul
      %li
        .description.resonant Resonant
        .number-bubble#resonant
          %span= @feedbacks.resonant.count.count
      %li
        .description.mixed Mixed
        .number-bubble#mixed
          %span= @feedbacks.mixed.count.count
      %li
        .description.isolated Isolated
        .number-bubble#isolated
          %span= @feedbacks.isolated.count.count




.column#middle
  #filter-tags
    .resonance-tags

  = render partial: 'feedbacks/form'

  #feedbacks
    = render partial: 'feedbacks/index', locals: { feedbacks: @feedbacks }



.column#right
  = render partial: 'users/profile'


- if current_user.is_a?(Admin)
  = render partial: 'users/admin'