.column#left
  .feedback-summary.filters
    %h2 Resonance
    %ul
      %li
        .description.resonant Resonant
        .number-bubble#resonant= @my_feedbacks.resonant.count.count
      %li
        .description.mixed Mixed
        .number-bubble#mixed= @my_feedbacks.mixed.count.count
      %li
        .description.isolated Isolated
        .number-bubble#isolated= @my_feedbacks.isolated.count.count

  = render partial: 'users/profile'



.column#middle
  #filter-tags
    .resonance-tags
    .attribute-tags

  = render partial: 'feedbacks/form'

  #feedbacks
    = render partial: 'feedbacks/index', locals: { my_feedbacks: @my_feedbacks, team_feedbacks: @team_feedbacks }



.column#right
  .attributes.filters
    %h2 Attributes
    %ul
      - @tags.each do |tag_name, count|
        %li.attribute
          .description= tag_name
          .number-bubble= count

%table#admin-grid
  %tbody