.column#left
  .feedback-summary.filters
    %h2 Resonance
    %ul
      %li
        .description Resonant
        .number-bubble#resonant 10
      %li
        .description Mixed
        .number-bubble#mixed 7
      %li
        .description Isolated
        .number-bubble#isolated 2
    %h2 Requests sent to me
    %ul
      %li
        Unresolved
        .number-bubble
          10

  .profile
    .banner
    %table.data
      %tr
        %td
          .avatar
            = image_tag current_user.avatar.url(:large)
        %td
          .name= "#{current_user.first_name} #{current_user.last_name}"
          .title Software Engineer
    .status
      Information or goals for myself can go here. I can also edit them here, inline with the homepage document. Use Jeditable!



.column#middle
  #filter-tags
    .resonance-tags
      -#= render partial: 'feedbacks/filter_tag', locals: { text: 'Resonant' }
    .attribute-tags
      -#= render partial: 'feedbacks/filter_tag', locals: { text: '#leadership' }

  = render partial: 'feedbacks/form'

  #feedbacks
    = render partial: 'feedbacks/index', locals: { my_feedbacks: @my_feedbacks, team_feedbacks: @team_feedbacks }



.column#right
  .attributes
    %h2 Attributes