.column#left
  .feedback-summary.filters
    %h2 Filter by Resonance
    %ul
      %li
        .description.resonant Resonant
        .number-bubble#resonant= @my_feedbacks.resonant.count.count
      %li
        .description.mixed Mixed
        .number-bubble#mixed= @my_feedbacks.mixed.count.count
      %li
        .description.isolated Isolated
        .number-bubble#isolated= @my_feedbacks.isolated.count.count




.column#middle
  #filter-tags
    .resonance-tags

  = render partial: 'feedbacks/form'

  #feedbacks
    = render partial: 'feedbacks/index', locals: { my_feedbacks: @my_feedbacks, home_feedbacks: @home_feedbacks }



.column#right
  = render partial: 'users/profile'



%table#admin-grid
  %tbody