- hidden ||= nil
.feedback{ id: "feedback-#{feedback.id}", class: current_user.fresh_feedbacks.include?(feedback) ? 'fresh' : '', style: hidden ? 'display:none' : 'display:block' }
  .top
    .banner
      .avatar
        = image_tag feedback.author.avatar.url(:large)
      .data
        .address= address_info(feedback, current_user)
        .timestamp= "#{time_ago_in_words(feedback.created_at)} ago"
      - if feedback.author != feedback.user
        .score
          .flavor= flavor_text(feedback)
          .votes{ class: feedback.user != current_user  && current_user.is_peer?(feedback) ? 'active' : nil }
            = vote_numbers(feedback, current_user)
    .content
      = simple_format(feedback.content)
    .tags
      - feedback.tags.each do |tag|
        .tag= tag.name
    %table.actions
      %tr
        - if current_user.is_peer?(feedback)
          %td.action.agree{ class: current_user.agrees_with(feedback) ? 'selected' : nil }
            .icon
            .name
              Agree
        %td.action.leave-comment
          .icon
          .name
            = "Comment"
        %td.action.share
          .icon
          .name
            Share

  .commenting
    .comments
      - if feedback.comments.count > 2
        .view-all= link_to "View #{feedback.comments.count - 2} more comments", '', remote: true
      - feedback.comments.each_with_index do |comment, i|
        = render partial: 'comments/comment', locals: { comment: comment, hidden: (i < feedback.comments.count - 2) }
    =render partial: 'comments/form', locals: { feedback_id: feedback.id }