- hidden ||= nil
.feedback{ id: "feedback-#{feedback.id}", class: feedback_classes(feedback), style: hidden ? 'display:none' : 'display:block' }
  - if current_user.following_up?(feedback)
    .follow-up
      .close x
      %h1 30-Day Follow-up
      %h2 Its been 30 days since this feedback was posted. Please follow-up with a comment below describing whether or not you think it was addressed!
      = render partial: 'comments/form', locals: { feedback: feedback, placeholder_text: 'Follow up...' }
  .top
    .banner
      .avatar
        = image_tag feedback.author.avatar.url(:large)
      .data
        .address= address_info(feedback, current_user)
        .timestamp= "#{time_ago_in_words(feedback.created_at)} ago"
      .score
        .flavor= flavor_text(feedback)
        .votes
          = vote_numbers(feedback, current_user)
    .content
      = format_content(feedback.content)
    %table.actions
      %tr
        - if current_user.can_vote?(feedback)
          %td.action.agree{ class: current_user.agrees_with(feedback) ? 'selected' : nil, 'data-action' => vote_feedback_path(feedback) }
            .icon
            .name
              Agree
        %td.action.leave-comment
          .icon
          .name
            Comment
        %td.action.share
          .icon
          .name
            Share
        -#- if feedback.author != current_user && feedback.user == current_user
        -#  %td.action.merge
        -#    .icon
        -#    .name
        -#      Merge

  .commenting
    .comments
      - comments_and_logs = hidden_comment_content(feedback, current_user)
      - hidden_count = comments_and_logs.count{|obj| obj[:hidden]}
      - if hidden_count > 0
        .view-all= link_to "View #{hidden_count} more comments", '', remote: true
      - comments_and_logs.each do |comment_or_log|
        - object = comment_or_log[:object]
        - if object.is_a?(Comment)
          = render partial: 'comments/comment', locals: { comment: object, hidden: comment_or_log[:hidden] }
        - else
          = render partial: 'feedbacks/log', locals: { log: object, hidden: comment_or_log[:hidden] }

    - unless current_user.following_up?(feedback)
      = render partial: 'comments/form', locals: { feedback: feedback }