.feedback{ id: "feedback-#{feedback.id}" }
  .banner
    .avatar
    .data
      .address= address_info(feedback, current_user)
      .timestamp= feedback.created_at
    - if feedback.author != feedback.user
      .score
        .flavor= flavor_text(feedback)
        .votes{ class: feedback.user != current_user  && current_user.is_peer?(feedback) ? 'active' : nil }
          = vote_numbers(feedback, current_user)
  .content
    = feedback.content
  %table.actions
    %tr
      %td.actionable
        Actionable?
      %td.comment-count
        = "Comments (#{feedback.comments.count})"
      %td.share
        Share

  .comments
    - feedback.comments.each do |comment|
      = render partial: 'comments/comment', locals: { comment: comment }
    =render partial: 'comments/form', locals: { feedback_id: feedback.id }