- feedback ||= nil
- hidden ||= nil

.feedback{ id: "feedback-#{feedback.id}", class: feedback_classes(feedback), style: hidden ? 'display:none' : 'display:block' }
  - if current_user.following_up?(feedback)
    .follow-up
      .close x
      %h1 30-Day Follow-up
      %h2 Its been 30 days since this feedback was posted. Please follow-up with a comment below describing whether or not you think it was addressed!
      = render partial: 'comments/form', locals: { feedback: feedback, placeholder_text: 'Follow up...' }
  .top
    = render partial: "feedbacks/content", locals: { feedback: feedback, user: current_user }
    = render partial: "feedbacks/actions", locals: { feedback: feedback }

  .commenting
    .comments
      - comments_and_logs = hidden_comment_content(feedback, current_user)
      - hidden_count = comments_and_logs.count{|obj| obj[:hidden]}
      - if hidden_count > 0
        .view-all= link_to "View #{hidden_count} more comments", '', remote: true
      - comments_and_logs.each do |comment_or_log|
        - object = comment_or_log[:object]
        - if object.is_a?(Comment)
          = render partial: 'comments/comment', locals: { comment: object, hidden: comment_or_log[:hidden] }
        - else
          = render partial: 'feedbacks/log', locals: { log: object, hidden: comment_or_log[:hidden] }

    - unless current_user.following_up?(feedback)
      = render partial: 'comments/form', locals: { feedback: feedback }