.feedback{ id: "feedback-#{feedback.id}" }
  .banner
    .avatar
    .data
      .address= address_info(feedback, current_user)
      .timestamp= feedback.created_at
    - if feedback.author != feedback.user
      .score
        .flavor= flavor_text(feedback)
        .numbers
          .agree= feedback.peers_in_agreement.count
          .other= feedback.peers.count
  .content
    = feedback.content
  %table.actions
    %tr
      %td.actionable
        Actionable?
      %td.comment-count
        = "Comments (#{feedback.comments.count})"
      %td.share
        Share

  .comments
    - feedback.comments.each do |comment|
      = render partial: 'comments/comment', locals: { comment: comment }
    =render partial: 'comments/form', locals: { feedback_id: feedback.id }