.feedback-form
  = form_for Feedback.new, as: :feedback, url: feedbacks_path, remote: true do |f|
    = f.hidden_field(:author_id, value: current_user.id)
    %table.top
      %tr
        %td
          .avatar
            = image_tag current_user.avatar.url(:large)
        %td
          .content
            = f.text_area :content, placeholder: "Send a teammate feedback (@JohnDoe ...) or create a self-feedback (#{current_user.user_tag})"
    .bottom
      = text_area_tag :peers, '', placeholder: 'Tag peers (@JohnDoe, @JoeShmoe)...'
      .submit-tag Send