.feedback-form
  = form_for Feedback.new, as: :feedback, url: feedbacks_path, remote: true do |f|
    = f.hidden_field(:author_id, value: current_user.id)
    .top
      %table
        %tr
          %td
            .avatar
              = image_tag current_user.avatar.url(:large)
          %td
            .recipient
              Feedback For:
              = f.select :user, options_with_images([current_user, current_user.peers].flatten)
            .content
              = f.text_area :content, placeholder: 'Send or Request feedback...'
    .bottom
      Peers:
      = select_tag :peers, options_with_images(current_user.peers), { multiple: true, id: 'add-peers' }
      .submit-tag{ 'role' => 'button', 'tabindex' => 0 } Send