#share-panel
  .header
    .text Share this piece of feedback with relevant peers
    .close X
  .top
    .banner
      .avatar
        = image_tag feedback.author.avatar.url(:large)
      .data
        .address= address_info(feedback, current_user)
        .timestamp= "#{time_ago_in_words(feedback.created_at)} ago"
    .content
      = simple_format(feedback.content)

  .additional-peers
    = text_area_tag :additional_peers, '', placeholder: 'Tag additional peers here...'

  .actions
    .cancel{ tabindex: 0 } Cancel
    .share{ tabindex: 0 } Share