.modal#add-user
  .header
    .text Add User
    .close x
    
  - organization = current_user.organization.id
  = form_for :user, url: add_user_organization_path(organization), remote: true do |f|
    %ul
      %li
        .label First Name
        = f.text_field :first_name
      %li
        .label Last Name
        = f.text_field :last_name
      %li
        .label Email
        = f.email_field :email
      %li
        .label Profile Photo
        = f.file_field :avatar
    = f.hidden_field :organization_id, value: organization

    .actions
      .submit-tag.active{ tabindex: 0 } Create
      .cancel{ tabindex: 0 } Cancel