.modal#add-user
  .header
    .text Add User
    .close x

  %h3 Add a new employee from your organization manually

  = form_for :user, as: User, url: users_path, html: { method: :post, multipart: true } do |f|
    %ul
      %li
        .label First Name
        = f.text_field :first_name
      %li
        .label Last Name
        = f.text_field :last_name
      %li
        .label Email
        = f.email_field :email
      %li
        .label Profile Photo
        = f.file_field :avatar

    .actions
      .submit-tag.active{ tabindex: 0 } Save User