<!DOCTYPE html>
%html
  %head
    %title Prophet
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #banner
      .logo
      - if current_user
        #session
          = link_to current_user.email, edit_user_path(current_user)
          |
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
      .sort
        -if @my_feedbacks && @my_feedbacks.count > 0
          .me.selected Me
          .team Team
        - else
          .me Me
          .team.selected Team

    -#%p.notice= notice
    -#%p.alert= alert
    .full
      %p.errors= flash[:error]
      = yield

</body>
</html>
