<!DOCTYPE html>
%html
  %head
    %title Prophet
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #banner
      .logo
      - if current_user
        #session
          .avatar
            = image_tag current_user.avatar.url(:large)
          %ul.options
            %li= link_to 'Edit Profile', edit_user_path(current_user)
            %li= link_to 'Logout', destroy_user_session_path, method: :delete

      .sort
        -if @my_feedbacks && @my_feedbacks.count > 0
          .me.selected Me
          .team Team
        - else
          .me Me
          .team.selected Team
        .bar

    #error-messages
    #warning-messages

    .full
      %p.errors= flash[:error]
      = yield

</body>
</html>
