<!DOCTYPE html>
%html
  %head
    %title Prophet
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #banner
      - if current_user
        #session
          = current_user.email
          |
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
      .sort
        .me.selected Me
        .all All

    %p.notice= notice
    %p.alert= alert



    = yield

</body>
</html>
