<!DOCTYPE html>
%html
  %head
    %title Prophet
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body{ class: "#{controller_name} #{action_name}" }
    #banner
      .logo
        = link_to 'Prophet', root_path
      - if current_user
        .session{ id: current_user.id }
          .avatar
            = image_tag current_user.avatar.url(:large)

        .sort{ style: @hide_sorting ? 'display: none' : '' }
          .home.selected
            .notifications{ style: "visibility: #{current_user.home_notifications.count < 1 ? 'hidden' : ''}" }
              = current_user.home_notifications.count
            Home
          .me
            .notifications{ style: "visibility: #{current_user.my_notifications.count < 1 ? 'hidden' : ''}" }
              = current_user.my_notifications.count
            Me
          - if current_user.type == 'Manager'
            .manager Manager
          - if current_user.type == 'Admin'
            .admin Admin
          .bar

      - else
        = form_for :user, url: session_path(:user), html: { id: 'sign-in' } do |f|
          .email
            = f.label 'Email'
            = f.text_field :email
            .rememberable
              = f.check_box :remember_me, tabindex: -1
              = 'Keep me logged in'
          .password
            = f.label 'Password'
            = f.password_field :password
            = link_to 'Forgot your password?', nil, tabindex: -1
          .submit-tag.active{ 'tabindex' => 0 } Log in

    #warning-messages

    .full
      -#%p.errors= flash[:error]
      -#%p.notices= flash[:notice]
      = yield

    - unless current_user
      = render partial: 'home/footer'

  - # Modals
  .modal-overlay
  .modal-container
    - if current_user
      = render partial: 'modals/share_panel'
      = render partial: 'modals/share_list'
      = render partial: 'modals/delete_comment'
      = render partial: 'popovers/session_options'
      = render partial: 'popovers/error_messages'
      -# .modal#merge-confirmation rendered in js.erb (needs feedback parameters)

