<!DOCTYPE html>
%html
  %head
    %title Prophet
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body
    #banner
      .logo
        Prophet
      - if current_user
        #session
          .avatar
            = image_tag current_user.avatar.url(:large)

      .sort
        -if @my_feedbacks && @my_feedbacks.count > 0
          .me.selected Me
          .team Team
        - else
          .me Me
          .team.selected Team
        .bar

    #error-messages
    #warning-messages

    .full
      %p.errors= flash[:error]
      = yield

  - if current_user
    .popover#session-options
      .name= current_user.full_name
      %li= link_to 'Edit Profile', edit_user_path(current_user)
      %hr
      %li= link_to 'Logout', destroy_user_session_path, method: :delete